@import "tailwindcss";
@import "tw-animate-css";



@theme inline {
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);

}
body {
  
  background-image: url('/images/bubbles.png');
  background-size: cover;
  
}

:root {
  --foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(0.7647 0.1211 82.43 / 8%);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.7647 0.1211 82.43);
 --secondary: oklch(0.3248 0.0821 273.45);
}

  @keyframes scroll-continuous {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-40%);
          }
          100% {
            transform: translateX(0);
          }
        }

        .animate-scroll-continuous {
          animation: scroll-continuous 7s  infinite;
        }